<div class="container">
  <h1>Create a new restaurant</h1>
  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :category, :collection => %w[chinese french japanese belgium italian] %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.submit "Submit New Restaurant", class: "btn btn-primary" %>
  <% end %>
</div>
